@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Oswald', sans-serif;
}

body{
    background-color: #222222;
}

.container{
    display: flex;
    flex-direction: column;
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
    
    background-color: whitesmoke;
    border-radius: 10px;
    color: #222222;
    padding: 2rem;
    max-width: 33rem;
    min-height: 20rem;
}

.searchDiv{
    display:flex;
    justify-content: space-between;
    margin-bottom: 3rem;
}

.searchDiv input{
    font-size: 1.3rem;
    border: none;
    background-color: transparent;
    border-bottom: 3px rgb(129, 255, 129) solid;
    border-radius: 2px;
    padding-right: 5rem;
    margin-right: 1rem;
    width: 100%;
    font-weight: 300;
    color: #222222;
}
@media only screen and (max-width: 600px){
    .searchDiv input{
        padding-right: 0;
        min-width: 10rem;
    }
    
}
.searchDiv button{
    background-color: rgb(129, 255, 129);
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    font-weight: 300;
    padding: 5px 15px;
    color: #222222;
}

.wordAndSpeech{
    display: flex;
    align-items: center;
    justify-content: space-between;
}



.speaker{
    width: 2rem;
    cursor: pointer;
    margin-top: 6px;
}

.speaker-off{
    display:none;
}

.partAndPho span{
    margin-right: 1rem;
    color: #7c7c7c;
}

.meaning{
    margin-top: 1rem;
    border-left: 3px rgb(129, 255, 129) solid;
    padding-left: 0.3rem;
}